@page
@model IdentityProvider.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="Email">Email</label>
            <input id="Email" name="Email" placeholder="Email" type="email" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            <input id="Password" name="Password" placeholder="Password" type="password" class="form-control" />
        </div>

        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password</label>
            <input id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" type="password" class="form-control" />
        </div>

        <div class="form-group">
            <button class="btn btn-dark">Register</button>
            <div><span>Allready have an account? </span><a asp-page="/Account/Login">Login Here!</a></div>
        </div>
    </form>
</div>